@media print {
			.table-container { 
				width:6.5cm;
				height:10.0cm;
				font-size:12px;
				line-size:1.2;

				}
			.table .table-filter{
				padding-top: 0%;
			}
			
			#notprint { 
				display: none;
			} 
			#yesprint {
				visibility:visible;
				position: absolute;
				top:0;
				left:0;
				width:10cm;
				height: 17cm;
			} 
			.input{
				width: 5cm;
				height: 0.5cm;
				font-size: 10px;
			}
			.form-control{
				width: 4cm;
				height: 0.5cm;
			}
			.espaco {
				padding-top:  5cm;
			}
			.input1 .form-control{
				width: 8cm;

			}
			.input1{
				font-size: 10px;
			}
			option{
				height: 5cm;
			}
			.container{
				background-color: black;
			}

		}
